logs/
npm-debug.log
node_modules/
coverage/
.idea/
run/
logs/
typings/
.DS_Store
*.swp
*.lock
!.autod.conf.js
config/config.local.ts
config/env
.nuxt

config/**/*.js
app/**/*.map
test/**/*.map
config/**/*.map
